# Gradle files
.gradle/
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Compiled class files
out/
classes/
build/classes/
build/classes/kotlin/

# Log files
*.log

# Other build artifacts
buildSrc/

# Dependency lock files
build.gradle.lock

# Test reports
build/reports/

# IntelliJ project files
*.iml
*.ipr
*.iws

# OS-specific files
.DS_Store
Thumbs.db

