/*Make parent element a flex container*/
ul {
    display: flex; /*or inline-flex*/
    flex-direction: row; /* this is the same as default value */
    list-style: none;
}

li {
    width: 25px;
    height: 25px;
    background-color: #8cacea;
    margin: 8px;
}
