/* src/style.css */
body {
  margin: 0;
  overflow: hidden; /* Prevent scrollbars */
  background-color: #111; /* Dark background */
}

canvas {
  display: block; /* Prevent potential layout shifts */
}
